/* Jost font import */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.mainFont {
    font-family: Jost;
}

#realmLogoDiv {
    display: flex; /* Display allowing horizontically centered placement */
    justify-content: center; /* Center image */
    align-items: center; /* Keeps proportions of original image ratios */
    padding-top: 10vh; /* Top spacing */
    padding-bottom: 10vh; /* Bottom spacing */
}
#realmLogo {
    width: 20%; /* Image size */
}

.centerText {
    text-align: center;
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.smallFontSize {
    font-size: 12px;
}

.darkButton {
    background-color: #141729; /* Button background color */
    color: #FFFFFF; /* Button text color

    align-items: center; /* Vertically center the content */
    margin: auto; /* Center the button horizontally within its container */
    display: flex; /* Center button */
    padding: 10px 155px; /* Button size*/
    white-space: nowrap; /* One line text */
    border: none; /* Remove border*/
}

a:visited {
    color: black; /* Standard link text color, even while visited */
}

a:link {
    color: black; /* Standard link text color */
    text-decoration: none; /* Standard link underline removed */
}

a:hover {
    text-decoration: underline; /* Standard link underline hover effect */
}  
  .navbar-wrapper {
    height: 100vh; /* Full height of the viewport */
    display: flex; /* full page height usage */
  }
  
  .custom-navbar {
    width: 200px; /* Width of navbar */
    padding-top: 20px; /* Top padding */
    background-color: #141729; /* Navbar color */
  }
  
  .custom-navbar .nav-link {
    color: #EFF1F5; /* Navbar element text color */
    padding: 10px 20px; /* Navbar element spacing */
  }
  
  .custom-navbar .nav-link:hover {
    background-color: #3E4259; /* Hover effect */
    text-decoration: none; /* Removed underline effect */
  }